<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новый заказ!</h1>
    <p> Состав заказа:</p>
    <ul>
    <%- @order.order_items.each do |item|  %>
      <li> <%= "#{item.product.name} - #{item.quantity}" %> </li>
    <% end  %>
    </ul>
    <p>
      Сумма к оплате <%= @order.total %> руб.
    </p>
    ==========
    <p>
    <%= @user.name %>
    </p>
     <p>
    <%= @user.address %>
    </p>
     <p>
    <%= @user.phone %>
    </p>
      <p>
    <%= @user.email %>
    </p>
  </body>
</html>
